{% extends 'base.html' %} 
{% block content %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Markers Map</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" 
    integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" 
    integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js"></script>

    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>

  
    <link rel="stylesheet" type="text/css" href="lib/leaflet.css">
	<link rel="stylesheet" type="text/css" href="lib/leaflet.draw.css">

  <!-- CSS -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.css" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/locationpicker/0.1.12/locationpicker.css" />

<!-- JavaScript -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/locationpicker/0.1.12/locationpicker.jquery.min.js"></script>



  </head>
  <body  class="bg-img" ">

    <div class="container text-center" style="margin-left: 20px;">
      
    
         <div class="container" >
          
         

          <form method="POST" id="form" class="shadow-lg p-6 mb-8 mt-5 rounded"  style="width: 900px;">
            {% csrf_token %}

            
            <h1 class="mb-4">Create  client account</h1>
              <div class="row mb-3" >
                <div class="col" >
                  <h4>Last Name</h4>
                  {{ form.nom}}
                  {% if form.nom.errors %}
                  <strong class="text-danger" role="alert">{{ form.nom.errors }}</strong>
                  {% endif %}
                </div>
                <div class="col">
                  <h4>Fist Name</h4>
                  {{ form.prenom}}
                  {% if form.prenom.errors %}
                  <strong class="text-danger" role="alert">{{ form.prenom.errors }}</strong>
                  {% endif %}
                </div>
              </div>
              <div class="row mb-3">
                <div class="col">
                  <h4>Pseudo</h4>
                  {{ form.pseudo}}
                  {% if form.pseudo.errors %}
                  <strong class="text-danger" role="alert">{{ form.pseudo.errors }}</strong>
                  {% endif %}
                </div>
                <div class="col">
                  <h4>Phone</h4>
                  {{ form.telephone }}
                  {% if form.telephone.errors %}
                  <strong class="text-danger" role="alert">{{ form.telephone.errors }}</strong>
                  {% endif %}
                </div>
              </div>
              <div class="mb-3">
                <h4>Mail</h4>
                {{ form.email}}
                {% if form.email.errors %}
                <strong class="text-danger" role="alert">{{ form.email.errors }}</strong>
                {% endif %}
              </div>
              <div class="mb-3">
                <div class="col">
                  <h4>Password</h4>
                  {{ form.mot_de_passe}}
                  {% if form.mot_de_passe.errors %}
                  <strong class="text-danger" role="alert">{{ form.mot_de_passe.errors }}</strong>
                  {% endif %}
                </div>
              </div>
              <div class="mb-3">
                <div class="col">
                  <h4>Password confirmation</h4>
                  {{ form.confirmation_mot_de_passe}}
                  {% if form.confirmation_mot_de_passe.errors %}
                  <strong class="text-danger" role="alert">{{ form.confirmation_mot_de_passe.errors }}</strong>
                  {% endif %}
                </div>
              </div>
          
             
          
            
          
              <div class="text-center">
                <div class="panel-footer" style="text-align: center; margin-top: 10px;">
                  Click Next To Submit Client Form Or Skip If You Have Already A Client Account.
              </div>
                <button class="btn btn-dark" style='width:30%; background-color: #A26A25; color:#2B2612; font-size: 15px; margin-bottom: 4px;' type="submit" value="save">Next</button>
                
                <button class="btn btn-dark  mx-auto d-block"  style='  font-size: 8px; background-color: #A26A25; color:#2B2612;' onclick="location.href='{% url 'add_project' %}'"> Skip </button>
          
            </div>



           </form>
        </div>
        
     </div>
   </div>
  
    
  
  </body>
</html>

{% endblock %}
