{% extends 'base_client.html' %} 
{% block content %} {% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
       
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <!-- Leaflet CSS and JS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" 
    integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" 
    integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
  
    <!-- Leaflet Draw CSS and JS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

        <link
        rel="stylesheet"
        href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha384-6DBIkDzKj1PHw3gW8skvQoAQ5KoG5ru5Ot1WmYvFxBn96yO9SB+4+W4A7WuL4izU"
        crossorigin=""/>
    
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.css" integrity="sha512-1xhdQwMzS8Ly+5ZCvSk/Z9oGt92uI1FUpy2+vcD7zTkXXw06ivV8WgZ+flv7dX9tMJPCT8YENWQOv+7OxNwHvw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js" integrity="sha512-PnX6fRPjq/LiYD6rsRv6LZx6PZyoLCejr3q1ZDDtzAVT9T1TzT8OGpVEyTjjntPtd+bGwIzgm1orDjZi2QX6UQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet.marker.bouncing/dist/leaflet.marker.bouncing.min.js"></script>
    
    
    <script type="text/javascript"
            src="https://cdn.jsdelivr.net/gh/hosuaby/Leaflet.SmoothMarkerBouncing@v3.0.2/dist/bundle.js"
            crossorigin="anonymous"></script>
  

    </head>

    <body style="background-color: #E2DCDE;">

        <div class="contain text-center" style="width: 1445px; height: 1500px;   margin-left: 2px; border-radius: 10px;" >
            <div  class="row">
                <div class="col-3" style="width: 250px; height: 120px;background-color: #FFFFFF; border: 0.5px solid rgb(168, 167, 167) ; margin-left: 22px; border-radius: 10px ; margin-top: 25px;">
                           
                </div>
                {% for node_data in nodes_data %}
                <div class="col-3" style=" border: 1px solid rgb(70, 69, 69) ; background-color: #cbd1d6; width: 200px; height: 280px; margin-left: 10px; border-radius: 10px; margin-top: 8px; margin-right: 10px;" >
                    {% if proj_instance %} 
                    <p style="margin-bottom: 1px; "><a style="color: rgb(79, 78, 78);" href="{% url 'update' proj_instance.polygon_id %}""><strong>Weather Information of node : {{ node_data.node_instance.nom }}</strong></a></p>
                    {% endif %} <hr>
                    {% comment %} <p><strong>Weather information of node :  </strong>{{ node_data.node_instance.nom }}</p> {% endcomment %}
                    <div id="weather-info">
                    <p><strong>Temperature : </strong>{{ node_data.data.temperature }}°C</p>
                    <p><strong>Humidity : </strong>{{ node_data.data.humidity }}%</p>
                    <p><strong>Wind Speed : </strong>{{ node_data.data.wind }} km/h</p>
                    <p><strong>Rain Volume:</strong>{{ node_data.data.rain }} mm</p>
                    </div>
                </div>
                {% endfor %}
              
           </div>

           <!-- <div class="row">

            {% for node_data in nodes_data %}
            <div class="col-3" style=" border: 1px solid rgb(70, 69, 69) ; background-color: #D4D6D8; width: 200px; height: 240px; margin-left: 10px; border-radius: 10px; margin-top: 8px; margin-right: 10px;" >
                  
            
                <p><strong>Weather information of node :  </strong>{{ node_data.node_instance.nom }}</p><hr>
                <p><strong>Temperature : </strong>{{ node_data.data.temperature }}°C</p>
                <p><strong>Humidity : </strong>{{ node_data.data.humidity }}%</p>
                <p><strong>Wind Speed : </strong>{{ node_data.data.wind }} km/h</p>
                <p><strong>Rain Volume : </strong>{{ node_data.data.rain }} mm</p>
        
            </div>
            {% endfor %}
      </div> -->

            <div class="row">
                <div class="col-3" style="width: 250px; height: 800px; background-color: #FFFFFF;  border: 0.5px solid rgb(168, 167, 167) ; margin-left: 22px; border-radius: 10px; margin-right: 8px; ">
                   
                    
                </div>


                <!-- <div class="col-3"  style="background-color: #FFFFFF; width: 1150px; height: 640px; border-radius: 10px; margin-top: 8px; margin-left: 8px;"> -->



                    <div class='col-6 rounded ' id="map" style="width: 1180px;height: 800px; box-sizing:border-box; margin-top: 5px;  border-radius: 50px; border: 1px solid rgb(9, 0, 0) ; ">
                        <div class="leaflet-control"></div>
                    </div>
         
                    <!-- <label for="geomp">Geometry:</label>
                    <input type="text" id="geomp" name="geomp" value="{{ proj_instance.geomp }}" readonly><br><br>
                     -->
                <!-- </div> -->

            </div>

        </div>

        <script type="text/javascript" src="lib/leaflet.js"></script>

   <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.js"></script> 
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
 


   <script>
var geojson_str = "{{ proj_instance.geomp.json|escapejs }}";
var geojson = JSON.parse(geojson_str);

      // Define the colors for the polygon based on status
      var color = status === "Risk" ? "red" : "purple";

// Create a Leaflet map
var map = L.map('map').setView([{{ proj_instance.geomp.centroid.y }}, {{ proj_instance.geomp.centroid.x }}], 12);


// L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
//       attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
//   }).addTo(map);


L.tileLayer('http://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
        attribution: 'Tiles © Esri — Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community'
    }).addTo(map);

  var drawnItems = new L.FeatureGroup();
    map.addLayer(drawnItems);

// Add the GeoJSON polygon to the map
var polygonLayer = L.geoJSON(geojson, { style: { color: color } }).addTo(map);

// var yass = L.marker([{{node_instance.position.y}},{{node_instance.position.x}}]).addTo(map);

// var latlng = yass.getLatLng();
// yass.bindPopup("<b>Node Name</b><br>{{node_instance.nom}} <br><b>Node Position</b><br>Latitude: " + latlng.lat + "<br>Longitude: " + latlng.lng).openPopup();


var markers = [];

{% for node in nodee %}
        var status = "{{ node.status }}";
      console.log('node :',"{{node.nom}}"  ,'statuss',status)

                                    var color = "";
                                    

                        if (status === "DOWN") {
                                  color = "green";
                              
                        } else if (status === "MODERATE") {
                            color = "blue";
                           
                        } else if (status === "HIGH") {
                            color = "yellow";
                        } else if (status === "VERY HIGH") {
                            color = "orange";
                        } else if (status === "EXTREME") {
                            color = "red";
                        } else {
                            color = "black";
                        }                      
                        // var yass = L.marker([{{ node.position.y }}, {{ node.position.x }}], { style: { color: color } }).addTo(map);

    var yass = L.marker([{{ node.position.y }}, {{ node.position.x }}]).addTo(map);
    var latlng = yass.getLatLng();
    console.log('--latlng',latlng)
    // console.log('--name {{node.nom}}')
    yass.bindPopup("<b>Node Name</b><br> {{ node.nom }} "   + "<br><b>Node Position</b><br>Latitude: " + latlng.lat + "<br>Longitude: " + latlng.lng +"<br><b>Status</b><br> <span style='color:" + color + ";font-weight:bold;'>" + status + "</span> ").openPopup();
    markers.push(yass);
    
    {% endfor %}
            
</script> 

<script>
  
    $(document).ready(function() {
        setInterval(function() {
          console.log('helloooo')
            $.ajax({
              type: "GET",
                url: "{% url 'update_weather' proj_instance.polygon_id %}",
                
                success: function(data) {
                  {% comment %} console.log('dataaaa',data)
                 
                 status = data.status;
                 console.log('insiiiiide status',status)
                 
                 if (status === "DOWN") {
                     color = "green";
                 } else if (status === "MODERATE") {
                    color = "blue";
                 } else if (status === "HIGH") {
                     color = "yellow";
                 } else if (status === "VERY HIGH") {
                     color = "orange";
                 } else if (status === "EXTREME") {
                     color = "red";
                 } else {
                     color = "black";
                 }
                 polygonLayer.setStyle({ color: color });                    {% endcomment %}
  
  
                    $('#weather-info').html(
                       
                           '<p><strong>Temperature:</strong> ' + data.temperature + '°C</p>' +
                           '<p><strong>Humidity:</strong> ' + data.humidity + '%</p>' +
                           '<p><strong>Wind Speed:</strong> ' + data.wind + ' km/h</p>'+
                           '<p><strong>Rain Volume:</strong> ' + data.rain + ' mm</p>'
                          
                    );
                    
                    {% comment %} $('#rssi').html(
                      
                           '<p><strong>RSSI: </strong>' + data.RSSI +' </p>' 
                    ); {% endcomment %}
  
                    
                    // if (data.camera == 0) {
                    //      $('#status-card').html('<div class="card-body"><p><strong>Status: </strong><span style="color:green; font-weight:bold">NO FIRE</span></p></div>');
                    // } else if (data.camera <= 1) {
                    //      $('#status-card').html('<div class="card-body"> <p><strong>Status: </strong><span style="color:red; font-weight:bold">FIRE</span></p></div>');
                    // } else {
                    //      $('#status-card').html('<div class="card-body"> <p><strong>Status: </strong><span style="color:black; font-weight:bold">NO NODE</span></p></div>');
                    // } 
  
{% comment %}   
                     $('#fwi').html('<p><strong>FWI: </strong>' + data.fwi + '</p>');
  
  
  
                     if (data.status == 'DOWN') {
                         $('#status').html('<p><strong>Status: </strong><span style="color:green; font-weight:bold">' + data.status + '</span></p>');
                     } else if (data.status == 'MODERATE') {
                         $('#status').html('<p><strong>Status: </strong><span style="color:blue; font-weight:bold">' + data.status + '</span></p>');
                     } else if (data.status == 'HIGH') {
                         $('#status').html('<p><strong>Status: </strong><span style="color:yellow; font-weight:bold">' + data.status + '</span></p>');
                     } else if (data.status == 'VERY HIGH') {
                         $('#status').html('<p><strong>Status: </strong><span style="color:orange; font-weight:bold">' + data.status + '</span></p>');
                     } else if (data.status == 'EXTREME') {
                         $('#status').html('<p><strong>Status: </strong><span style="color:red; font-weight:bold">' + data.status + '</span></p>');
                     } 
                    else if (data.status == 'UNKNOWN') {
                      $('#status').html('<p><strong>Status: </strong><span style="color:black; font-weight:bold">' + data.status + '</span></p>');
                    }                   
  
   {% endcomment %}
  
  
  
  
                    {% comment %} if (status === "EXTREME") {
                       yass.setIcon(fireIcon)
                       yass.bounce(5);
                      
                  
                       
                     } else {
                       yass.setIcon(null);
                       yass.stopBouncing();
                      }  {% endcomment %}
  
                    
                },
                error: function(xhr, status, error) {
                    console.log("An error occurred: " + xhr.status + " " + xhr.statusText);
                }
            });
        }, 3000); // refresh every 5 seconds
    }); 
   </script>


      

    </body>

</html>


{% endblock %}