{% extends 'base_client.html' %} 
{% block content %} {% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
       
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <!-- Leaflet CSS and JS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" 
    integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" 
    integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
  
    <!-- Leaflet Draw CSS and JS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  

    </head>

    <body style="background-color: #E2DCDE;">

        <div class="contain text-center" style="width: 1445px; height: 1500px;   margin-left: 2px; border-radius: 10px;" >
            <div  class="row">
                <div class="col-3" style="width: 250px; height: 120px;background-color: #FFFFFF; border: 0.5px solid rgb(168, 167, 167) ; margin-left: 22px; border-radius: 10px ; margin-top: 25px;">
                           
                </div>
                {% for node_data in nodes_data %}
                <div class="col-3" style=" border: 1px solid rgb(70, 69, 69) ; background-color: #cbd1d6; width: 200px; height: 280px; margin-left: 10px; border-radius: 10px; margin-top: 8px; margin-right: 10px;" >
                      
                
                    <p><strong>Weather information of node :  </strong>{{ node_data.node_instance.nom }}</p><hr>
                    <p><strong>Temperature : </strong>{{ node_data.data.temperature }}°C</p>
                    <p><strong>Humidity : </strong>{{ node_data.data.humidity }}%</p>
                    <p><strong>Wind Speed : </strong>{{ node_data.data.wind }} km/h</p>
                    <p><strong>Rain Volume:</strong>{{ node_data.data.rain }} mm</p>
            
                </div>
                {% endfor %}
              
           </div>

           <!-- <div class="row">

            {% for node_data in nodes_data %}
            <div class="col-3" style=" border: 1px solid rgb(70, 69, 69) ; background-color: #D4D6D8; width: 200px; height: 240px; margin-left: 10px; border-radius: 10px; margin-top: 8px; margin-right: 10px;" >
                  
            
                <p><strong>Weather information of node :  </strong>{{ node_data.node_instance.nom }}</p><hr>
                <p><strong>Temperature : </strong>{{ node_data.data.temperature }}°C</p>
                <p><strong>Humidity : </strong>{{ node_data.data.humidity }}%</p>
                <p><strong>Wind Speed : </strong>{{ node_data.data.wind }} km/h</p>
                <p><strong>Rain Volume : </strong>{{ node_data.data.rain }} mm</p>
        
            </div>
            {% endfor %}
      </div> -->

            <div class="row">
                <div class="col-3" style="width: 250px; height: 800px; background-color: #FFFFFF;  border: 0.5px solid rgb(168, 167, 167) ; margin-left: 22px; border-radius: 10px; margin-right: 8px; ">
                   
                    
                </div>


                <!-- <div class="col-3"  style="background-color: #FFFFFF; width: 1150px; height: 640px; border-radius: 10px; margin-top: 8px; margin-left: 8px;"> -->



                    <div class='col-6 rounded ' id="map" style="width: 1180px;height: 800px; box-sizing:border-box; margin-top: 5px;  border-radius: 50px; border: 1px solid rgb(9, 0, 0) ; ">
                        <div class="leaflet-control"></div>
                    </div>
         
                    <!-- <label for="geomp">Geometry:</label>
                    <input type="text" id="geomp" name="geomp" value="{{ proj_instance.geomp }}" readonly><br><br>
                     -->
                <!-- </div> -->

            </div>

        </div>

        <script type="text/javascript" src="lib/leaflet.js"></script>

   <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.js"></script> 
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
 


   <script>
var geojson_str = "{{ proj_instance.geomp.json|escapejs }}";
var geojson = JSON.parse(geojson_str);

      // Define the colors for the polygon based on status
      var color = status === "Risk" ? "red" : "purple";

// Create a Leaflet map
var map = L.map('map').setView([{{ proj_instance.geomp.centroid.y }}, {{ proj_instance.geomp.centroid.x }}], 12);


// L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
//       attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
//   }).addTo(map);


L.tileLayer('http://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
        attribution: 'Tiles © Esri — Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community'
    }).addTo(map);

  var drawnItems = new L.FeatureGroup();
    map.addLayer(drawnItems);

// Add the GeoJSON polygon to the map
var polygonLayer = L.geoJSON(geojson, { style: { color: color } }).addTo(map);

// var yass = L.marker([{{node_instance.position.y}},{{node_instance.position.x}}]).addTo(map);

// var latlng = yass.getLatLng();
// yass.bindPopup("<b>Node Name</b><br>{{node_instance.nom}} <br><b>Node Position</b><br>Latitude: " + latlng.lat + "<br>Longitude: " + latlng.lng).openPopup();


var markers = [];

{% for node in nodee %}
        var status = "{{ node.status }}";
      console.log('node :',"{{node.nom}}"  ,'statuss',status)

                                    var color = "";
                                    

                        if (status === "DOWN") {
                                  color = "green";
                              
                        } else if (status === "MODERATE") {
                            color = "blue";
                           
                        } else if (status === "HIGH") {
                            color = "yellow";
                        } else if (status === "VERY HIGH") {
                            color = "orange";
                        } else if (status === "EXTREME") {
                            color = "red";
                        } else {
                            color = "black";
                        }                      
                        // var yass = L.marker([{{ node.position.y }}, {{ node.position.x }}], { style: { color: color } }).addTo(map);

    var yass = L.marker([{{ node.position.y }}, {{ node.position.x }}]).addTo(map);
    var latlng = yass.getLatLng();
    console.log('--latlng',latlng)
    // console.log('--name {{node.nom}}')
    yass.bindPopup("<b>Node Name</b><br> {{ node.nom }} "   + "<br><b>Node Position</b><br>Latitude: " + latlng.lat + "<br>Longitude: " + latlng.lng +"<br><b>Status</b><br> <span style='color:" + color + ";font-weight:bold;'>" + status + "</span> ").openPopup();
    markers.push(yass);
    
    {% endfor %}
            
</script> 


      

    </body>

</html>


{% endblock %}